{{ define "main" }}

  <main>
    <div class="container-fluid">

      <h1>AMM Kids</h1>

      <h2>
        20. und 21. August 2022<br>
        Niederrohrdorf
      </h2>

      {{.Content}}

      <img class="home-photo mb-3 shadow" style="top: 10%; right: 5%" src="/img/AMGETU_2019-215.jpg" width="320" height="214" alt="">
      <img class="home-photo mb-3 shadow d-none d-xl-block" style="top: 30%; right: 15%" src="/img/AMGETU_2019-52.jpg" width="320" height="214" alt="">
      <img class="home-photo mb-3 shadow d-none d-xl-block" style="top: 50%; right: 10%" src="/img/AMGETU_2019-106.jpg" width="320" height="214" alt="">

    </div>
  </main>

{{ end }}
